.SSdiv1{
    width:70px;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    padding-top: 20px;
    display: grid;
    place-items: center; 
}
.SSdiv11{
    width:70px;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 3px;
    cursor: pointer;
    padding-top: 20px;
    display: grid;
    place-items: center;
    background-color: rgb(241, 242, 243);

}
.SSdiv1:hover
{
    background-color: rgb(225, 226, 228);
}
.SSp1{
    font-size: 10px;

}
.SSdiv0{
    padding: 5px;
    margin-right: 20px;
    margin-top: 60px;
    
}
.SSicon{
    font-size: 22px;
    color:  #6e6c6c; 
}
.SSicon1{
    font-size: 22px; 
}